name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    defaults:
      run:
        working-directory: ./mp4ra-rust

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5
      - name: Check formatting
        run: cargo fmt --check
      - name: Build
        run: cargo build --verbose

  crategen:
    defaults:
      run:
        working-directory: ./mp4ra_crategen/

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5
      - name: Check formatting
        run: cargo fmt --check
      # need to get local patches to 'codegen' upstreamed in order to run this
      # in CI
      #- name: Build and run
      #  run: cargo run
